<ion-header>
    <ion-toolbar>
      <fa-icon [icon]="goBackIcon" (click)="goBack()"></fa-icon>
      <ion-title>
        sinistre
      </ion-title>
      <network-status></network-status>
      <div class="clear"></div>
    </ion-toolbar>
  </ion-header>

<ion-content>
    
        
    <ion-card *ngIf="disaster">
        <ion-card-header>
                <ion-card-title>{{rent?.name}}</ion-card-title>
            <img [src]="thumbnail" *ngIf="thumbnail" />
            <ion-card-subtitle [innerHTML]="disaster.id"></ion-card-subtitle>
            <ion-card-title>{{disaster.type?.id}} - {{disaster.date  | date}}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            <fieldset>
                <legend>Description</legend>
                <div class="row">
                    <div class="col-10">
                        <textarea (change)="descriptionChange($event)">{{disaster.description}}</textarea>
                    </div>
                    <div class="col-2">
                        <fa-icon [icon]="saveIcon" (click)="save()" class="save-action"></fa-icon>
                    </div>
                </div>



                
            </fieldset>
        </ion-card-content>
    </ion-card>

</ion-content>
