ion-toolbar fa-icon{
    float: left;
    margin-left: 1em;
}

ion-title{
    float: left;
    margin-top: -0.2em;
}

textarea {
    width: 100%;
    height: 10em;
}

.save-action{
    font-size:200%;
}