<ion-header>
    <ion-toolbar>
        <ion-title [innerHTML]="title"></ion-title>
        <network-status></network-status>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="rent">
    <ion-card>
        <img [src]="thumbnail" *ngIf="thumbnail" />
    
        <ion-card-header>
            <ion-card-subtitle [innerHTML]="rent.description"></ion-card-subtitle>
            <ion-card-title>{{rent.price}}$/mois</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            <div *ngIf="disasters">
                <disaster-display *ngFor="let disaster of disasters" [value]="disaster"></disaster-display>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
