<article *ngIf="value">

    <header>
        <div class="disaster-type-icon">
            <fa-icon [icon]="icon"></fa-icon>
        </div>
        <h2>{{value.date | date}}</h2>
        <div class="disaster-status-icon">
                <fa-icon [icon]="iconStatus"></fa-icon>
        </div>
        <div class="header-end"></div>
    </header>
</article>