header{
    .disaster-type-icon{
        float: left;
        height: 1.2em;
        width: 1.2em;
        text-align: center;
    }
    .disaster-type-icon fa-icon{
        
    }
    h2{
        float: left;
        margin-top:-0.06em;
        margin-left: 1em;
    }

    .disaster-status-icon fa-icon{
        float: right;
    }
    .header-end{
        clear: both;
    }
}