.network-status{
    display: block;
    height: 1em;
    width: 1em;
    background-color: var(--ion-color-medium-shade);
    position: absolute;
    right: 1em;
    top: 1.3em;
    border-radius: 0.5em;

    &.offline{
        background-color: var(--ion-color-danger);
    }

    &.online{
        background-color: var(--ion-color-success-shade);
    }
}
