
fa-icon{
    float: left;

    &.action-delete{
        float: right;
        color:var(--color-danger);
    }
}

ion-card-title{
    float: left;
    margin-top: -0.2em;
    margin-left: 1em;
    margin-bottom: 0.4em;
}