<ion-header>
  <ion-toolbar>
    <ion-title>Sinistres</ion-title>
    <network-status></network-status>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="action">
        <ion-button expand="block" color="danger" (click)="createNewDisaster()">Déclarer un sinistre</ion-button>
    </div>


    <div class="disasters-list">
        <ion-card *ngFor="let disaster of disasters;let i=index"
                  [class.odd]="i%2==0">
            <ion-card-header>
                <fa-icon [icon]="resolveIcon(disaster)"></fa-icon>
                <ion-card-title (click)="goToDetail(disaster)">
                   {{disaster.type?.id}} - {{disaster.date  | date}}
                </ion-card-title>
                <fa-icon class="action-delete" [icon]="deleteIcon" (click)="deleteDisaster(disaster)"></fa-icon>
                <div class="clear"></div>
            </ion-card-header>
        </ion-card>
    </div>

    <div class="action">
        <ion-button expand="block"  (click)="initializeDisasters()">refresh</ion-button>
    </div>
    
    
</ion-content>
