.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}



.odd{
  background-color:#f1f1f1;
}



ion-card-header{
  fa-icon{
    float: left;
    font-size: 150%;
    padding-top: 2%;
    margin-right: 1%;
  }
  ion-card-title {
    float:left;
  }

}

ion-card{
  p{
    clear: both;
  }
}