<ion-header>
  <ion-toolbar>
    <ion-title>
      Locations
    </ion-title>

    <network-status></network-status>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>POC App-sync on ionic</h1>
    <amplify-authenticator></amplify-authenticator>
    <div *ngIf="rents">
      <ion-card *ngFor="let rent of rents;let i=index" [class.odd]="i%2==0" (click)="navigateToDetail(rent.id)">
        <ion-card-header>
            <fa-icon [icon]="resolveIcon(rent)"></fa-icon>
            <ion-card-title [innerHTML]="rent.name"></ion-card-title>
        </ion-card-header>
        <p [innerHTML]="rent.description"></p>
        
      </ion-card>
    </div>
    
    
</ion-content>
