<ion-header>
  <ion-toolbar>
    <ion-title>Mock Controls</ion-title>
    <network-status></network-status>
  </ion-toolbar>
  
</ion-header>

<ion-content>


  <div class="field">
    <label>Offline</label>
    <ion-toggle color="secondary" (ionChange)="mockOffline($event)" [ngModel]="online"></ion-toggle>
    <div class="clear"></div>
  </div>

</ion-content>
