.question{
    label{
        text-align: center;
        width: 100%;
        padding: 0.2em;
        display: block;
        font-size: 110%;
    }
    .question-answer {
        display: none;
        border: 0.2em solid #3880ff;
        margin: 0.2em;
        padding: 0.4em;

        input , span{
            border : none;
            text-align: center;
            width: 100%;
            background: transparent;
            display: block;
        }
    }

    &.next{
        display: none;
    }

    &.previous{
        .question-form {
            display: none;
        }

        .question-answer {
            display: block;
        }
    }

    
}