<ion-header>
    <ion-toolbar>
      <ion-title>
        Déclaration de sinistre
      </ion-title>
      <network-status></network-status>
    </ion-toolbar>
  </ion-header>
<ion-content>

        <div class="disaster">
                <form [formGroup]="disasterForm">
                    <!--[step 0]=====================================================-->
                    <div [class]="resolveQuestionClass(0)">
                        <div class="question-form">
                            <label>le sinistre impacte quelle location ?</label>
                            <ion-button expand="block"
                                        *ngFor="let rent of rents"
                                        (click)="defineRent(rent)">{{rent.name}}</ion-button>
                        </div>
                        <div class="question-answer">
                                <span [innerHTML]="selectedRent?.name"></span>
                        </div>
                    </div>
                


                    <!--[step 1]=====================================================-->
                    <div [class]="resolveQuestionClass(1)">
                        <div class="question-form">
                            <label>le sinistre est de quel type ?</label>
                            <ion-button expand="block"
                                        *ngFor="let disasterType of disasterTypes"
                                        (click)="defineDisasterType(disasterType)">{{disasterType}}</ion-button>

                            <div *ngIf="showOtherDisasterType">
                                <input matInput type="text" formControlName="disasterType"/>
                                <ion-button (click)="next()">valider</ion-button>
                            </div>
                        </div>


                        <div class="question-answer">
                                <input matInput
                                type="text"
                                formControlName="disasterType"
                                disabled="disabled"
                                />
                        </div>
                    </div>
            
                    <!--[step 2]=====================================================-->
                    <div [class]="resolveQuestionClass(2)">
                        <div class="question-form">
                                <label>Depuis quend le sinitre est apparu ?</label>
                                <ion-button expand="block" (click)="defineIsNow()">Aujourd'hui</ion-button>
                                <ion-button expand="block" (click)="editOtherDate()">Autre</ion-button>
                              
                                <div class="other-date" *ngIf="showOtherDate">
                                    <input type="date" formControlName="date"/>
                                    <ion-button (click)="next()">valider</ion-button>
                                </div>
                        </div>
                        <div class="question-answer">
                                <span [innerHTML]="disasterDate"></span>
                        </div>
                    </div>
            
                    <!--[step 2]=====================================================-->
                    <div [class]="resolveQuestionClass(3)">
                        <div class="question-form">
                            <label>Prendre une photo ?</label>
                            <ion-button expand="block" (click)="next()">Non</ion-button>
                            <ion-button expand="block" (click)="takePhoto()" [disabled]="disableCamera">Oui</ion-button>
                            
                            <img class="bigImage" [src]="currentPhoto" *ngIf="currentPhoto"/>
                        </div>
                        <div class="question-answer">
                                <img class="smallImage" [src]="currentPhoto" *ngIf="currentPhoto"/>
                        </div>
                    </div>
            
                    <!--[step done]==================================================-->
                    <div [class]="resolveQuestionClass(4)">
                        <ion-button expand="block"  [href]="gobackUrl">Annuler</ion-button>
                        <ion-button expand="block"  (click)="send()">Envoyer</ion-button>
                    </div>
                </form>
            </div>
</ion-content>
